<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="General">
		<setting label="URL" type="text" id="url_address" default="https://yts.re/api"/>
		<setting label="Quality Movies" type="lsep"/>
		<setting label="720p" type="bool" id="movie_q1" default="true"/>
		<setting label="1080p" type="bool" id="movie_q2" default="false"/>
		<setting label="3D" type="bool" id="movie_q3" default="false"/>
		<setting label="Limitation Size Movie Files" type="lsep"/>
		<setting label="Minimum Size in GB (0 = Not Limit):" type="slider" id="movie_min_size" default="0" range="0,0.25,10" option="float" />
		<setting label="Maximum Size in GB (10 = Not Limit):" type="slider" id="movie_max_size" default="10" range="0,0.25,10" option="float" />
	</category>
</settings>
